<app-header></app-header>
<ul class="flex justify-around items-center font-semibold mb-4 h-20 border-b-2">
  <li
    class="border-2 border-black p-1 hover:bg-black hover:text-white transition-all ease-in-out text-xl"
  >
    <a routerLink="/album">ALBUM</a>
  </li>
  <li
    class="border-2 border-black p-1 hover:bg-black hover:text-white transition-all ease-in-out text-xl"
  >
    <a routerLink="/artist">ARTIST</a>
  </li>
  <li
    class="border-2 border-black p-1 hover:bg-black hover:text-white transition-all ease-in-out text-xl"
  >
    <a routerLink="/track">TRACK</a>
  </li>
</ul>
<router-outlet></router-outlet>
<app-footer></app-footer>
